.git
.github
.DS_Store
**/.DS_Store

flow/results
flow/reports
flow/logs
flow/objects
flow/tech
flow/*.log
flow/*tar.gz
flow/run-me*.sh
flow/vars*.sh
flow/vars*.tcl
flow/vars*.gdb

dependencies/
bazel-bin/
bazel-obj/
bazel-oproad/
bazel-OpenROAD-flow-scripts/
bazel-testlogs/

tools/OpenROAD/
tools/yosys/
tools/yosys-slang/
tools/kepler-formal/
